<div>

  <h3>Log in</h3>

  <form action="/auth/signup" method="post">

    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" />
    <br />
    <label for="password">Contraseña</label>
    <input type="text" name="password" />
    <br />
    <button>Ingresar</button>
  </form>

</div>