<div>
    <h3>este es tu perfil privado</h3>
    <br>
    <h3>{{this.name}}</h3>
    <br>
    <h3>{{this.email}}</h3>
    <br>
    <a href="/body/list-games">Lista de videojuegos</a>
    <br>

<a href="/auth/logout">Cerrar Sesión</a>
</div>

