<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Archijuegos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>

      {{!-- <a href="/">Home</a> --}}
      

      {{#if this.isUserActive}}
        <a href="/body/inicio">Inicio</a>
        <a href="{{#if this.isUserAdmin}}/profile/admin-dashboard{{else}}/profile/dashboard{{/if}}">Perfil</a>

      {{/if}}

    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>