<div>

  <h3>Formulario para crear los videojuegos</h3>
  <form action="/body/create-data" method="post">
    <label for="title">Nombre del videojuego</label>
    <input type="text" name="title" />
    <br />
    <label for="description">Descripcion del videojuego</label>
    <input type="text" name="description" />
    <br />
    {{!-- <label for="url">Imagen del videojuego</label>
    <input type="img" name="url" />
    <br /> --}}
    <label for="releaseDate">Fecha de lanzamiento</label>
    <input type="date" name="releaseDate" />
    <br />
    <label for="company">Empresa</label>
    <input type="text" name="company" />
    <br />
    <button>Agregar Data</button>
  </form>
    
    

</div>