<div class="d-flex flex-column align-items-center text-bg-info p-3">

  <h3>Edicion deL POST </h3>

  <form action="/body/edit-posts/{{post._id}}" method="post">

    <label class="form-label">title</label>
    <input type="text" class="form-control" name="title" value="{{post.title}}" />

    <br>

    <label  class="form-label">description</label>
    <input type="text" class="form-control" name="description" value="{{post.description}}" />

    <br />

    <button class="btn btn-success">Editar</button>

  </form>

</div>