<div>

  <h3>Escribe un post sobre {{gameData.title}}</h3>

  <form action="/body/form-post/{{gameData._id}}" method="post">

    <label for="title">Titulo del post</label>
    <input type="text" name="title" />
    <br />
    <textarea name="description" rows="10" cols="40">Escribe aquí tus
      comentarios</textarea>
    <br />
    <label for="url">Imagenes relacionadas</label>
    <input type="file" name="url" />
    <br>
    <button>Crear</button>
  </form>

</div>