<div>

  <form action="/body/post" method="post">
    <label for="title">Titulo del post</label>
    <input type="text" name="title" />
    <br />
    <textarea name="comentarios" rows="10" cols="40">Escribe aquí tus
      comentarios</textarea>
    <br />
    <button>Crear</button>
  </form>

</div>