<div class="d-flex flex-column align-items-center text-bg-info p-3">
  
  <br />
  <h1 class="text-white">Bienvenido!</h1>
  <br />
  <a href="/body/post-list"><button class="btn btn-danger">Todos los posts</button></a>
  <br />
  <a href="/body/list-games"><button class="btn btn-light">Lista de videojuegos</button></a>

</div>