<div>


<h3>lista de videojuegos</h3>

{{#each this.allGames}}
<li>
    <a href="/body/list-games/{{this._id}}">{{this.title}}</a>
    <br>
    <a href="/body/form-post/{{this._id}}"><button>Crear</button></a>
    <br>
    <a href="/body/list-games/{{this._id}}"><button>Editar</button></a>
</li>


{{/each}}

</div>