<div class="d-flex flex-column align-items-center text-bg-info p-3">

<h3>Lista de Post</h3>

{{#each this.allPost}}
<li>

    <a href="/body/post/{{this._id}}">{{this.title}}</a>
    <br>
    {{#if ../this.isUserAdmin}}
     <a href="/body/edit-posts/{{this._id}}">
     <button>Editar</button></a> 
     <form method="post" action="/body/edit-posts/{{this._id}}/delete"><button>borrar</button></form>
      {{/if}}
</li>


{{/each}}





</div>