<div>
<h3>Publicación</h3>
    <div>
        <h4>{{singlePost.title}}
            <br> 
            <br>{{this.singlePost.description}}
            <br> {{this.singlePost.author}}
        {{#each this.singlePost.type}}
        <li>{{this}}</li>
        {{/each}}
    </div>
</div>